In [7]:
import yfinance as yf # 
tesla = yf.Ticker("TSLA") 
opt = tesla.option_chain('2022-06-17') 
import mibian

In [8]:
opt.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,TSLA220617C00001000,2021-05-26 17:13:12,1.0,620.00,588.50,608.5,0.000000,0.000000,1.0,9.0,3.656251,True,REGULAR,USD
1,TSLA220617C00002000,2021-05-25 15:07:20,2.0,598.05,587.50,607.5,0.000000,0.000000,1.0,1.0,2.906253,True,REGULAR,USD
2,TSLA220617C00003000,2021-02-10 20:35:54,3.0,803.08,681.00,700.5,0.000000,0.000000,2.0,0.0,0.000000,True,REGULAR,USD
3,TSLA220617C00004000,2021-03-05 14:33:33,4.0,615.65,647.75,666.5,0.000000,0.000000,1.0,0.0,0.000000,True,REGULAR,USD
4,TSLA220617C00005000,2021-06-01 15:25:10,5.0,620.66,584.50,604.5,0.000000,0.000000,9.0,22.0,2.218754,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,TSLA220617C03600000,2020-08-27 18:24:06,3600.0,499.50,504.00,523.5,0.000000,0.000000,NaN,NaN,3.660951,False,REGULAR,USD
377,TSLA220617C03900000,2020-08-28 16:59:05,3900.0,482.34,460.50,480.0,9.339996,1.974629,2.0,20.0,3.301302,False,REGULAR,USD
378,TSLA220617C04000000,2020-08-28 19:07:18,4000.0,460.00,447.00,466.5,35.350006,8.324504,3.0,3.0,3.211092,False,REGULAR,USD
379,TSLA220617C04100000,2020-08-27 15:38:28,4100.0,432.00,434.50,454.0,0.000000,0.000000,NaN,NaN,3.134226,False,REGULAR,USD
380,TSLA220617C04200000,2020-08-28 18:16:44,4200.0,440.00,422.50,441.5,4.000000,0.917431,12.0,NaN,3.063708,False,REGULAR,USD

In [9]:
opt.puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,TSLA220617P00001000,2021-06-04 19:33:01,1.0,0.01,0.01,0.02,0.0,0.0,583.0,121667.0,2.140630,False,REGULAR,USD
1,TSLA220617P00002000,2021-06-03 18:30:08,2.0,0.01,0.01,0.04,0.0,0.0,10.0,25132.0,1.937500,False,REGULAR,USD
2,TSLA220617P00003000,2021-05-17 18:55:53,3.0,0.05,0.01,0.05,0.0,0.0,20.0,16729.0,1.804688,False,REGULAR,USD
3,TSLA220617P00004000,2021-05-06 14:36:38,4.0,0.03,0.01,0.05,0.0,0.0,81.0,1910.0,1.687502,False,REGULAR,USD
4,TSLA220617P00005000,2021-05-21 18:53:37,5.0,0.02,0.00,0.05,0.0,0.0,10.0,6120.0,1.570315,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,TSLA220617P02950000,2020-08-11 15:52:27,2950.0,1755.74,1340.50,1360.00,0.0,0.0,1.0,2.0,0.000010,True,REGULAR,USD
370,TSLA220617P03000000,2020-07-16 19:13:04,3000.0,1838.00,1648.50,1666.55,0.0,0.0,NaN,1.0,0.000010,True,REGULAR,USD
371,TSLA220617P03200000,2020-07-23 18:54:45,3200.0,1920.00,1583.50,1602.50,0.0,0.0,2.0,1.0,0.000010,True,REGULAR,USD
372,TSLA220617P03400000,2020-08-24 13:54:54,3400.0,1824.00,1701.50,1721.00,0.0,0.0,1.0,2.0,0.000010,True,REGULAR,USD
373,TSLA220617P03500000,2020-08-17 18:44:41,3500.0,2000.91,1784.00,1803.50,0.0,0.0,1.0,16.0,0.000010,True,REGULAR,USD

In [12]:

c = mibian.BS([427.53, 300, 0.25, 4], volatility=60)

In [13]:
c.callPrice

127.53821909748126